body {
	    font-family: "Helvetica", "Arial", "Verdana", "sans-serif";
            font-size: 18px;

}

div::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

iframe::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
}

iframe::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.ui-dialog {
  width: 380px;
  font-size: 11pt;
}


.header-img, .header-text {
    float: left;
}

.header-img {
    width: 21px;
}

.header-text h1 {
    display: none;
}

.header-text h2 {
    float: left;
    font-size: 1.2em;
    margin: 0; 
    padding: 0;
}

.header-text .video-title {
    color: #900;
    line-height: 1em;
    vertical-align: bottom;
}

.other-links {
    background: #ddd;
    border-radius: 3px;
    padding: 0 2px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.other-links a {
    color: #900;
    text-decoration: none;
}

.other-links a:hover {
    text-decoration: underline;
}

.content {
  margin: 0 auto;
  top: 5px;
  width: 710px;
  padding: 0;
}

#prev-videos {
    border-top: 1px solid #900;
    border-left: 1px solid #900;
    border-top-left-radius: 5px;
    display:none;
    overflow-y: auto;
    position: absolute;
    left: -210px;
    top: 0;
    width: 210px;
}

#next-videos {
    border-top: 1px solid #900;
    border-right: 1px solid #900;
    border-top-right-radius: 5px;
    display:none;
    position: absolute;
    right: -210px;
    top: 0;
    width: 210px;
}

#prev-videos h4, #next-videos h4 {
    background: #900;
    color: #fff;
    margin: 0;
    padding: 2px 0 2px 10px;
}

#prev-videos h5, #next-videos h5 {
    background: #333;
    color: #fff;
    font-weight: bold;
    margin: 0;
    opacity: .7;
    padding: 2px 0 2px 10px;
    text-decoration: underline;
}

#prev-videos ul, #next-videos ul {
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 80%;
    list-style-type: none;
    opacity: .7;
    overflow-y: auto;
    margin: 0;
    padding: 0 0 10px;
}

#prev-videos ul li, #next-videos ul li {
    padding: 0 0 5px 10px;
}

#prev-videos ul li.hover, #next-videos ul li.hover {
    background: #fff;
    color: #333;
}

#prev-videos ul li.hover a, #next-videos ul li.hover a {
    color: #333;
}

#prev-videos ul li a, #next-videos ul li a {
    color: #fff;
    text-decoration: none;
    width: 100%;
}

#prev-videos li a:visited, #next-videos li a:visited {
    color: #fff;
}

#prev-videos li a:hover, #next-videos li a:hover {
    color: #333;
    text-decoration: none;
}

div.greyOverlay{
    z-index: 5;
    opacity:.8;
    padding: 0px;
    margin: 0px;
    border: none;
    background: grey;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

#slideIndex {
  display: block;
  height: 135px;
  width: 100%;
  border-top: 1px solid black;
  //border-bottom: 1px solid black;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

#slideIndex #slideStrip {
    float:left;
    width:1270px;
}


div.divInIndex  {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 153px;
    margin: 10px;
    border: 1px solid black;
}

div.divInIndex img {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 90px;
    width: 143px;
    margin: 5px;
    display: inline-block;
    z-index: 1;
}

#slideIndex .unselected{
  background:white;
}

#slideIndex .selected{
  background:red;
}

.quizmodule{
  margin: 0 auto;
  width: 710px;
  text-align: center;
}

#playerdiv{
  width: 710px;
  position: relative;
}

#questionBG{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background: #F0F0F0;
  z-index: 3;
}

.questionDiv{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 12pt;
  z-index: 4;
}

textarea{
    overflow: auto;
    margin:0;
    font-family: "Helvetica", "Arial", "Verdana", "sans-serif";
}


#saSpace {
    position:absolute;
    top: 200px;
    padding: 10px;
    height: 70px;
    width: 950px;
    font-family: "Helvetica", "Arial", "Verdana", "sans-serif";
    font-size: 12pt;
}



#qInst{
    width:710px;
    height:25px;
    position:relative;
}
#qInst h4{
    margin:0px;
    padding:0px;
}
#createButtons{
    width:710px;
    height:80px;
    position:relative;
}
.bottomAlign{
    padding:0px;
    width:710px;
    position:absolute;
    bottom:0px;
}

#questionText{
    width:750px;
}

#answerTemplate{
    width:430px;
    margin-bottom:0;
}
textarea.disp {
  background: #F0F0F0;
  border:0;
  color:#000000;
}

div.questionDiv textarea{
  overflow:"hidden";
  font-size: 11pt;
  background: transparent;
}


div#askQ{
    padding-left:10px;
}
div#buttonDiv {
  width:760px;
  padding-left: 10px;
  padding-bottom: 25px;
}

#qaSpace{
    padding:10px;
    position: absolute;
    top:40px;
}
#questionSelector {
  position: absolute;
  top: 0px;
  left: 760px;
  width: 200px;
}

.qTableDel{
    width: 35px;
}

#choiceTable{
    position:absolute;
    top:130px;
}

.qChoice {
    position:absolute;
    top:130px;
    left:20px;
    border-collapse:collapse;
    width:400px;
    height:50px;
    overflow:hidden;
    margin-left:0px;
    border: 1px solid black;
    z-index:4;
}

.qChoice td{
    border: 1px solid black;
}

.qTableRow td{
    vertical-align:middle;
}



.mcAns{
    vertical-align: middle;
    width:265px;
}
.ui-icon-blank { background-position: -240px -224px; }

.qTableCheck .ui-state-active {
    background:#E6E6E6 
}


.ui-wrapper{
    padding:0px;
}

.ansCheck{
    padding:0;
    margin:0;
    text-align:left
}

.ui-button {
  font-size: 10pt;
  padding-left: 4px;
  padding-right: 4px;
}



#startmsg, .quizmodule{
   display:none;
   text-align:center;
}

#feedback { font-size: 14pt; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 14pt; height: 18px; }

